.radioGroup {
  margin-bottom: 0.25rem;
}

.signupForm {
  /*color: #9B9BA3;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.8125em;
}

.signupForm legend {
  float: left;
}

.signupForm label {
  /*float: right;*/
  font-size: 0.625em;
}

.wDate {
  float: left;
  font-size: 1em;
  font-weight: 400;
}

.wDate select {
  font-size: 1.2rem;
  font-weight: 100;
}

.redirectVender {
  float: left;
  margin-top: 0;
}

.redirectVender a {
  color: inherit; 
}

.nextButton, .prevButton {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
} 

#signupForm1 .nextButton {
  margin-top: 50%;
}

#signupForm2 .nextButton {
  float: right;
  width: 30%;
  margin-top: 10%;
}

#signupForm2 .prevButton {
  float: left;
  width: 30%;
  margin-top: 10%;
}

.venueData { 
  float: left;
/*  font-size: 1.2rem;
  font-weight: 100;*/
}

#aboutVenue p {
  font-size: 0.8125rem;
}

#aboutVenue textarea {
  font-size: 1rem;
}

input.venueData {
  font-size: 1.2rem;
  font-weight: 100;
}

.monthGroup {
  font-size: 1rem;
  width: 80%
  margin: 0 10% 0 10%;
}

.monthGroup .col-1{
  display: inline-flex;
}

.monthGroup {
  font-size: 1rem;
  width: 80%;
  margin: 0 10% 0 10%;
}

.monthGroup .col-1{
  display: inline-flex;
}

.monthGroup {
  font-size: 1rem;
  width: 80%;
  margin: 0 10% 0 10%;
}

.monthGroup .col-1{
  display: inline-flex;
}

.monthGroup {
  font-size: 1rem;
  width: 80%;
  margin: 0 10% 0 10%;
}

.monthGroup .col-1{
  display: inline-flex;
}

/*
#aboutVenue p {
  float: left;
  font-size: 1.2rem;
  font-weight: 100;
}*/
